@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Megrim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  font-family: "Cinzel Decorative", cursive;
} */

.cinzel-font {
  font-family: "Cinzel Decorative", cursive;
}
.knewave-font {
  font-family: "Knewave", cursive;
}
.fredoka-font {
  font-family: "Fredoka", cursive;
}
.caveat-font {
  font-family: "Caveat", cursive;
}
.megrim-font {
  font-family: "Megrim", cursive;
}
